body {
    margin: 0;
}
header {
    position: relative;
    height: 100px;
    background-color: skyblue;
}
h1 {
    margin: auto;
    padding: 20px;
}

main {
    margin: 20px;
    position: relative;
    width: 100%;
}

.image-box {
    position: relative;
    width: 230px;
    height: 230px;
    padding-top: 5px;
    margin: 20px;
    box-shadow: 0 0 5px deepskyblue;
}

.image {
    width: 220px;
    height: 220px;
    margin: auto;
    background-color: grey;
}

img {
    /* max-width: 100%;
    max-height: 100%; */
    height: 220px;
    width: 100%;
}

.title {
    display: none;
    position: absolute;
    bottom: 5px;
    background-color: grey;
    text-align: left;
    margin: 0 5px;
    padding: 0 10px;
    color: white;
    z-index: 10;
    width: 200px;
}

h3 {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
